/*---------------------Estilos Generales ----------------------*/

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Norse';
    src: url(Fonts/Norse-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
}

/*-----------Estilos de la parte izquierda----------*/

.left-content {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-wrapper {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 240px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 50%;
    display: flex;
    padding: 15px;
    gap: 5px;
    justify-content: center;
}

.logo img{
    width: 50%;
    max-width: 150px;
    height: auto;
}

.logo span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: Norse;
    font-size: 70px;
    color: white;
}

.creditos {
    color: white;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    font-size: 12px;
}

/*-----------------------------------Estilos de la parte derecha*-------------------*/

/*-----generales----------*/

.right-content {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-content-wrapper {
    display: flex;
    flex-direction: column;
}

/*----------h1-----------*/

.main-title {
    font-size: 20px;
    margin-bottom:40px;
    padding: 30px;
}

/*formulario parte principal*/


.h2andinputswrapper {
    box-shadow: 0px 2px 3px lightgray;
    padding: 30px;
}

.h2andinputswrapper h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.inputswrapper {
    display: flex;
    flex-wrap: wrap;
}

.envoltorio-local {
    width: 50%;
    margin-bottom: 15px;
}

.envoltorio-local label {
    display: block;
    font-size: 10px;
    font-weight: bold;
}

.envoltorio-local input {
    width: 70%;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
}


.envoltorio-local input:invalid {
    border-color: red;
}

.envoltorio-local input:focus {
    outline: 1px solid #596d48;
}

/*-----parte final--------*/

.botonyspanfinales {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.botonyspanfinales button {
    width: 30%;
    margin-bottom: 30px;
    padding: 13px 0px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #596d48;
    box-shadow: 0px 1px 2px #596d48;
}

.botonyspanfinales span a {
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
}